.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thumbnailImage {
  margin-bottom: 20px;
  cursor: pointer;
}

.thumbnailImage:hover {
  transform: translate(2px, 3px);
}

.grid {
  display: grid;
  flex-wrap: wrap;
  max-width: 1200px;
  gap: 40px;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  /*　画面サイズが1200pxからはここを読み込む　*/
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

.card {
  max-width: 600px;
  margin: 0 auto;
}
